<div id="status"></div>
<button onclick="getInfo()">Get Info</button>
<button onclick="login()" id="login">Login</button>
<button onclick="getFeed()">Load Posts</button>
<button onclick="logout()">Logout</button>
<div id="posts"></div>
